<h1>Send in your user info here.</h1>

<form method="POST" action="/"
    First Name: <input name="fname"
    Last Name: <input name="lname"
    Email: <input name="email"
    Avatar URL:<input name="picurl"
    Birthday: <input name="Bday"
    <input type="Submit"
</form>
