<h1>Send in your user info here.</h1>

<head>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
</head>

<form method="POST" action="/"><br>
    First Name: <input name="fname"><br>
    Last Name: <input name="lname"><br>
    Email: <input name="email"><br>
    Avatar URL:<input name="picurl"><br>
    Birthday: <input name="Bday"><br>
    <input type="submit"><br>
    </form>
